<div class="englobe">
  <div class="container">
    <div class="row">
      <p class="answer" > <%= @query %></p>
      <p class="who"> - You </p>
    </div>
    <div class="row">
      <p class="answer"> <%= @coach_answer %></p>
      <p class="who"> - Your coach </p>
    </div>
  </div>
</div>
